

 <!DOCTYPE html>
<html><head>
<meta content="text/javascript;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../Content/themes/jquery-easyui-1.3.3/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../Content/themes/jquery-easyui-1.3.3/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../Content/themes/jquery-easyui-1.3.3/demo/demo.css"/>
    <link rel="stylesheet" type="text/css" href="../../Content/进销存样式.css"/>
	<script type="text/javascript" src="../../Content/themes/jquery-easyui-1.3.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../Content/themes/jquery-easyui-1.3.3/jquery.easyui.min.js"></script>
    </head>
     <script type="text/javascript">
   var  BangDing=0;
         $(document).ready(function () {
             $('#w产品资料').window({//窗口初始化 
                 //重要的部分 
                 onBeforeClose: function () {
                     //当面板关闭之前触发的事件 
                     var GuanBi = ShiFouGuanBi();
                     if (GuanBi != true)
                         return false;

                 }
             });
             
             //查询单位信息
             cboBindingdata("#cboDanWei", 2);
             //查询颜色信息
             cboBindingdata("#cboYanSe", 1);
          
             //             $("#chkDaZhe").attr("checked", true);
             //                     $('#txtBianHao').attr('value', '123');
             //查询仓库信息
          
             $.getJSON("/ChanPinZiLiao/ChaXunCangKu",
                      function (data) {
                          $('#cboCangKu').combobox({ data: data, valueField: 'id',
                              textField: 'text'
                              
                          });
                              BangDing++;
                      }
                   );
             $.getJSON("/ChanPinZiLiao/ChaXunChangShang",
                      function (data) {
                          $('#cboChangShang').combobox({ data: data, valueField: 'id',
                              textField: 'text'
                               
                          });
                              BangDing++;
                      }
                   );
     
             $.getJSON("/ChanPinZiLiao/ChaXunWuLiaoLeiXing",
                      function (data) {
                          $('#cboSuoShuLeiXing').combotree("loadData", data);
                         BangDing++;
                      }
                     );
                    
                   
                  //显示窗体
                  start();
                 $('#w产品资料').window('open');
                     
            
         });



          function start() {

	        $('#wstart').window('open');
	        var value = $('#p').progressbar('getValue');
	        if (value < 100) {

	         value= BangDing*20;
	            $('#p').progressbar('setValue', value);
	            setTimeout(arguments.callee, 200);
	        }
	        else {
	            $('#p').progressbar('setValue', 0);
                BindingWuLiao();
	            $('#wstart').window('close');
                BangDing=0;
	        }
	    };

          //让所有下拉框数据绑定完再绑定商品信息


        function BindingWuLiao() {
//             setTimeout(function () {   
                                   $.getJSON("/ChanPinLeiBie/ChanXunWuLiaoLeiBieID?商品类别ID="+ @Session["商品类别ID"],
                                              function (data) {
                                                                $('#txtBianHao').attr('value', data[0].商品类别ID);
                                                                $('#txtLeiBieMingCheng').attr('value', data[0].产品类别);
                                                                $('#txtDiaoYongBieMing').attr('value', data[0].调用别名);
                                                                $('#cboSuoShuLeiXing').combotree('setValue', data[0].父级ID);
                                                              

                                                    BangDing++;
                                              }
                                   );
//                  }, 2000);    
         }
         
         //判断是否关闭窗体

         function ShiFouGuanBi() {
             if (confirm('窗口正在关闭，请确认您当前的操作已保存。\n 是否继续关闭窗口？')) {
                 $('#w产品资料').window('close', true); //这里调用close 方法，true 表示面板被关闭的时候忽略onBeforeClose 回调函数。 
                 window.location.href = "../ChanPinLeiBie/ChanPinLeiBie";
             } else
                 return false;
         }
         //下拉框属性数据绑定
         function cboBindingdata(YuanSuMing, ShuXingJiHeID) {

             $.getJSON("/ChanPinZiLiao/ChaXunShuXing?ShuXingJiHeID=" + ShuXingJiHeID,
              function (data) {
                  $(YuanSuMing).combobox({ data: data, valueField: 'id',
                      textField: 'text'
                  });
                    BangDing++;
              });
         }

         function XiuGai() {
         if (confirm('是否修改？')) {
            
             $.getJSON("/ChanPinLeiBie/XiuGaiWuLiaoLeiXing?类别名称="+ $('#txtLeiBieMingCheng').val() + "&"
                                        + "父级ID=" + $('#cboSuoShuLeiXing').combotree('getValue') + "&"
                                        + "调用别名=" + $('#txtDiaoYongBieMing').val() + "&",
                function (data) {
                    if (data != null) {
                        alert("修改成功");
                        window.location.href = "/ChanPinLeiBie/ChanPinLeiBie";
                    }

                });
            }
            return false;
         }

       </script>
<body>
  <div id="w产品资料" class="easyui-window" title="修改产品资料"  data-options="modal:true, iconCls:'icon-产品资料'"style="width:500px;height:220px;padding:10px;  top: 30px; left:300px;">
	<table>
            <tr>
                <td align="right">编号：</td><td> <input id="txtBianHao" readonly="readonly"  style="width:130px"></input></td>
                <td align="right">调用别名：</td><td> <input id="txtDiaoYongBieMing"  style="width:130px"></input></td> 
            </tr>
            <tr>
             <td align="right">类别名称：</td><td colspan=3><input id="txtLeiBieMingCheng" class="submit" style="width:335px"></input></td>
            </tr>
            <tr>
            <td align="right">所属类型：</td><td><input id="cboSuoShuLeiXing" class="easyui-combotree" style="width:135px"></input></td>
            </tr>
           
              <tr>
               <td style ="height : 50px" colspan=4 align="center">
                
               <a  id="btnTianJia" onclick="XiuGai()" class="easyui-linkbutton" data-options="iconCls:'icon-添加'">修改</a>


               <a onclick="ShiFouGuanBi()" class="easyui-linkbutton" data-options="iconCls:'icon-back'">退出</a>
             
             </td>
            
            </tr>

        </table>
        <!--窗体加载数据期间显示的进度条-->
        <div id="wstart" class="easyui-window" title="数据加载中"  data-options="modal:true,iconCls:'icon-产品资料'" style="width:440px;height:100px;padding:10px;  top: 150px; left:300px;">

        <div id="p" disable='disable'  class="easyui-progressbar" style="width:400px;"></div>
	
       </div>
  </div>
    </body>
    </html>