
.icon-业务模块2
{
    background: url('../../Content/图片/系统提醒/业务模块.png') no-repeat center center;
}

   /*系统提醒按钮图片*/
 .icon-业务模块
{
    background: url('../../Content/图片/系统提醒/业务模块.png') no-repeat center center;
}

 .icon-账款
{
    background: url('../../Content/图片/系统提醒/账款.png') no-repeat center center;
}
.icon-外发模块
{
    background: url('../../Content/图片/系统提醒/外发模块.png') no-repeat center center;
}
.icon-库存
{
    background: url('../../Content/图片/系统提醒/库存.png') no-repeat center center;
}
.icon-采购模块
{
    background: url('../../Content/图片/系统提醒/采购模块.png') no-repeat center center;
}
 /*基础数据按钮图片*/
.icon-仓库设置
{
    background: url('../../Content/图片/基础数据/仓库设置.png') no-repeat center center;
}

 .icon-产品BOM
{
    background: url('../../Content/图片/基础数据/产品BOM.png') no-repeat center center;
}
.icon-产品类别
{
    background: url('../../Content/图片/基础数据/产品类别.png') no-repeat center center;
}
.icon-产品资料
{
    background: url('../../Content/图片/基础数据/产品资料.png') no-repeat center center;
}
.icon-供应商
{
    background: url('../../Content/图片/基础数据/供应商.png') no-repeat center center;
}
.icon-客户资料
{
    background: url('../../Content/图片/基础数据/客户资料.png') no-repeat center center;
}
.icon-数据导入
{
    background: url('../../Content/图片/基础数据/数据导入.png') no-repeat center center;
}
.icon-银行账户
{
    background: url('../../Content/图片/基础数据/银行账户.png') no-repeat center center;
}
.icon-员工设置
{
    background: url('../../Content/图片/基础数据/员工设置.png') no-repeat center center;
}
 /*采购管理按钮图片*/
 .icon-采购
{
    background: url('../../Content/图片/采购.png') no-repeat center center;
}
/*入库管理按钮图片*/
.icon-采购入库
{
    background: url('../../Content/图片/入库管理/采购入库.png') no-repeat center center;
}
.icon-采购退货
{
    background: url('../../Content/图片/入库管理/采购退货.png') no-repeat center center;
}
.icon-生产入库
{
    background: url('../../Content/图片/入库管理/生产入库.png') no-repeat center center;
}
.icon-外发入库
{
    background: url('../../Content/图片/入库管理/外发入库.png') no-repeat center center;
}
.icon-外发退料
{
    background: url('../../Content/图片/入库管理/外发退料.png') no-repeat center center;
}
.icon-当前库存
{
    background: url('../../Content/图片/入库管理/当前库存.png') no-repeat center center;
}
/*财务管理管理按钮图片*/
.icon-财务管理
{
    background: url('../../Content/图片/财务管理.png') no-repeat center center;
}
/*报表管理管理按钮图片*/
.icon-报表
{
    background: url('../../Content/图片/报表.png') no-repeat center center;
}

/*系统设置管理按钮图片*/
.icon-系统设置
{
    background: url('../../Content/图片/系统设置.png') no-repeat center center;
}
/*查询、添加、修改按钮图片*/
.icon-查询
{
    background: url('../../Content/图片/查询.png') no-repeat center center;
}
.icon-添加
{
    background: url('../../Content/图片/添加.png') no-repeat center center;
}
.icon-修改
{
    background: url('../../Content/图片/修改.png') no-repeat center center;
}

